In [4]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import csv
from time import sleep
from random import randint

In [5]:
import time
time.sleep(10)
import numpy as np
title=[]

price=[]
review=[]
rating=[]
img=[]
discout=[]
disc=[]
pages = np.arange(1, 1001, 40)
for page in pages:
    url="https://www.flipkart.com/all/pr?sid=all&page=2"
    r=requests.get(url)
    soup=BeautifulSoup(r.text,'html.parser')
    table=soup.find_all('div',{"class":"_13oc-S"})
    
    for i in table[0:41]:
        title.append(i.find_all("a")[1].text.strip())
        
        rating.append(i.find("div",{"class":"_3LWZlK"}).text.strip())
        price.append(i.find("div",{"class":"_30jeq3"}).text.strip())
        review.append(i.find("span",{"class":"_2_R_DZ"}).text.strip())
        discout.append(i.find("div",{"class":"_3Ay6Sb"}).text.strip())
        disc.append(i.find("div",{"class":"_3Djpdu"}).text.strip())
        img.append(i.find("img",{"class":"_396cs4 _3exPp9"}).text.strip())

In [6]:
import pandas as pd
data=pd.DataFrame({'Title':title,"Img":img,"Disc":disc,"Rating":rating,"Review":review,"Price":price,"Discount":discout})
data.head()

,Title,Img,Disc,Rating,Review,Price,Discount
0,Potato 1 kg,,500 g,4.2,"(5,237)",₹20,47% off
1,Budweiser Non-Alcoholic Can,,330 ml,3.5,(309),₹48,40% off
2,Shubhalaxmi Food Peanut (Whole),,250 g,4.2,(943),₹19,62% off
3,SAVE HEALTH Poha,,0.5 kg,4.2,(134),₹29,58% off
4,Ghadi Detergent Bar,,"800 g, Pack of 5",4.1,(248),₹40,35% off

In [7]:
data.shape

(250, 7)

In [5]:
data.to_csv("flipkart.csv")

In [6]:
data.head()

,Title,Img,Disc,Rating,Review,Price,Discount
0,Hit Electric Insect Killer,,Bat,4.2,"(47,171)",₹475,4% off
1,WOW SKIN SCIENCE Red Onion Black Seed Oil Ulti...,,3 Items in the set,4.2,"(25,854)",₹899,43% off
2,"realme C12 (Power Blue, 32 GB)",,3 GB RAM,4.4,"(2,43,332)","₹7,999",27% off
3,HIMALAYA Pure Skin Neem Facial Kit,,3 Items in the set,4.3,"(37,364)",₹123,35% off
4,"APPLE iPhone 11 (White, 64 GB)",,24 Pieces,4.6,"(40,209)","₹51,999",5% off